<div id="footer">
@Html.ActionLink("Stylist List", "Index", "Stylists")
@* <p>@Html.ActionLink("Add new Item", "Create", "Items")</p> *@
@Html.ActionLink("Home", "Index", "Home")
<p>Eau Claire's Salon - 2023</p>
</div>